.chat-container
{
    background-image:url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png");
    
}
.chat-name
{
    padding:10px;
    color:#fff;
    font-family:"Roboto";
    text-align:center;
    background-color: #323f4b;
}
.sent-message{
    color:#fff;
    background-color: #47a3f3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: "Roboto";
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    text-align:right;
}
.received-message{
    color:#fff;
    background-color: #52606d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: "Roboto";
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    text-align:left;
}